.nav-link {
    color: $silver;
    margin: 0.1rem 0;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;

    &:hover {
        color: white;
        border-bottom-color: white;
    }
}

.link-active {
    color: $blue;
    border-bottom: 1px solid $blue;
}

.main-nav-title {
    color: $silver;
    margin-left: 15px;
}

.main-nav-social {
    font-size: 1.5em;
    color: $bean;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
        color: #ccc;
        transform: scale(1.2);
    }
}